body{
  background-color: lightgrey;

}
header{
  height: 100px;
  background-image: url( "Logo.jpg");
  background-repeat: no-repeat;
  background-size: 40% ;
  background-position: center;
  background-color: white;
}
div{
  display:flex;

}
@media screen and (max-width: 800px) {
  div{
    flex-shrink: 1;
    height: auto;/*de map moet mee schalen maar dat lukt niet*/
  }
}

#map{
  margin: 20px;
}
